<h2 class="title">Profiles
<a href="Profile/CreateNew" class="btn btn-small pull-right">Create New</a></h2>
{{#if profiles}}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Identifiers</th>
				<th>Data Points</th>
				<th>Tests</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
	{{#each profiles}}
			<tr>
				<td><a href="Profile/{{_id}}">{{name}}</a></td>
				<td>{{customIdentifiers.length}}</td>
				<td>{{dataPoints.length}}</td>
				<td>{{tests.length}}</td>
				<td><a class="btn btn-small" href="DataPoint/CreateNew/{{_id}}">Add Data Point</a></td>
				<td><a class="btn btn-small" href="Profile/AddIdentifier/{{_id}}">Add Identifier</a></td>
				<td><a class="btn btn-small" href="Test/CreateNew/{{_id}}">Add Test</a></td>
			</tr>
	{{/each}}
		</tbody>
	</table>
{{else}}
<p>No Profiles found - <a href="Profile/CreateNew">Create A Profile</a></p>
{{/if}}
