<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GraphSnap</title>

		<!-- Styles -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/js/chosen/chosen.min.css">
		<link rel="stylesheet" type="text/css" href="/css/fonts/graphsnap/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/global.css">

<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>

		{{#if useCharts}}
		<script type="text/javascript" src="/js/d3/d3.min.js"></script>
		<script type="text/javascript" src="/js/nvd3/nv.d3.min.js"></script>
		<script type="text/javascript" src="/lib/d3-tip/index.js"></script>
		<link rel="stylesheet" type="text/css" href="/js/nvd3/nv.d3.min.css" />
		{{/if}}

	</head>
	<body>

		{{#if error}}
			<p>{{error}}</p>
		{{/if}}

		{{#if user}}

		<!-- Sidebar -->
		<nav id="sidebar" class="sidebar">
      <div class="user-info user-info-sidebar">
				{{#if userImg}}
				<img class="person" src="{{userImg}}" alt="{{user.name}}" />
				{{else}}
        <img class="person" src="http://placehold.it/100x100" alt=""/>
				{{/if}}
        <h3 class="user-name">
					{{#if user.name}}
						{{user.name}}
					{{else}}
						<a href="/Settings">+ Complete Profile</a>
					{{/if}}
					<br/>
					<small>{{company.name}}</small>
				</h3>
      </div>

      <div class="nav-section">
        <h3>Main</h3>
        <ul class="nav nav-sidebar">
          <li><a href="/"><i class="icon-home"></i> Home</a></li>
          <li><a href="/DataPoints"><i class="icon-drawer"></i> Data</a></li>
          <li><a href="/Profiles"><i class="icon-stack"></i> Profiles</a></li>
		<li><a href="/Tests"><i class="icon-drawer"></i> Tests</a></li>
          <li><a href="/Settings"><i class="icon-cog"></i> Settings</a></li>
        </ul>
      </div>

			{{#if user.isAdmin}}
      <div class="nav-section">
        <h3>Admin</h3>
        <ul class="nav nav-sidebar">
          <li><a href="/Company"><i class="icon-office"></i> {{#if company}}{{company.name}}{{else}}Company{{/if}}</a></li>
          <li><a href="/Company/Users"><i class="icon-users"></i> Users</a></li>
          <li><a href="/Company/Correspondence"><i class="icon-mail"></i> Correspondence</a></li>
        </ul>
      </div>
			{{/if}}

			<div class="nav-section">
				<ul class="nav nav-sidebar">
					<li><a href="/Logout">Logout</a></li>
				</ul>
			</div>
    </nav>

		<header id="main-header">
      <a href="#" id="menuToggle" class="pull-left" onclick="UI.toggleSidebar();"><i class="icon-menu"></i></a>

      <nav id="nav-header" class="nav-header pull-right">
        <ul class="nav nav-header">
			<li><a href="/"><i class="icon-home"></i></a>
          <li><a href="#"><i class="icon-user"></i></a>
          <li><a href="#"><i class="icon-bullhorn"></i></a>
        </ul>
      </nav>
    </header>

		{{/if}}

		<div id="main-container" class="container {{#if user}}loggedIn{{/if}}">

		{{{body}}}

		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="/js/graphsnap.js"></script>
		<script type="text/javascript" src="/js/chosen/chosen.jquery.min.js"></script>

	</body>
</html>
