<h2>Products <a href="ProductType/CreateNew" class="btn btn-small btn-gray">Create New</a></h2>
{{#if productTypes}}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Num. Fields</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
	{{#each productTypes}}
			<tr>
				<td><a href="ProductType/{{_id}}">{{productTypeName}}</a></td>
				<td>{{ customFieldTypes.length }}</td>
				<td><a class="btn btn-green" href="Products/{{_id}}/CreateNew">Add Data Point</a></td>
				<td><a class="btn btn-gray" href="ProductType/{{_id}}/AddField">Add Field</a></td>
			</tr>
	{{/each}}
		</tbody>
	</table>
{{else}}
<p>No Product Types found - <a href="ProductType/CreateNew">Create A Product Type</a></p>
{{/if}}

<hr>

<h2>Data <a class="btn btn-small btn-gray" href="Products/CreateNew">Create New</a></h2>
{{#if products }}
	<h4>{{products.0.productType.productTypeName}} Data Points</h4>
	<table>
	{{#if products.0.customFields}}
	<thead>
		<tr>
			{{#each products.0.customFields}}
			<th>{{name}}</th>
			{{/each}}
		</tr>
	</thead>
	{{/if}}

	{{#each products}}
		<tbody>
		<tr>
			{{#each customFields}}
			<td>
				{{#if value}}
					{{value}}
				{{else}}
					<form method="POST" action="updateField">
						<input type="hidden" value="{{_id}}">
						<input type="{{customFieldType}}" required >
					</form>
				{{/if}}
			</td>
			{{/each}}
		</tr>
	{{/each}}
		</tbody>
	</table>	
{{else}}
<p>No Products found - <a href="Products/CreateNew">Create A Product</a></p>
{{/if}}