<h2>Product Types <a href="ProductType/CreateNew" class="btn btn-default">Create New</a></h2>
{{#if productTypes}}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Num. Fields</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
	{{#each productTypes}}
			<tr>
				<td><a href="ProductType/{{_id}}">{{productTypeName}}</a></td>
				<td>{{ customFieldTypes.length }}</td>
				<td><a class="btn btn-success" href="Products/{{_id}}/CreateNew">Add Instance</a></td>
				<td><a class="btn btn-default" href="ProductType/{{_id}}/AddField">Add Field</a></td>
			</tr>
	{{/each}}
		</tbody>
	</table>
{{else}}
<p>No Product Types found - <a href="ProductType/CreateNew">Create A Product Type</a></p>
{{/if}}

<hr>

<h2>Products <a class="btn btn-default" href="Products/CreateNew">Create New</a></h2>
{{#if products }}
	<table>
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
	{{#each products}}
		<tr>
			<td><a href="products/{{ _id }}">{{productName}}</a></td>
		</tr>
	{{/each}}
		</tbody>
	</table>
{{else}}
<p>No Products found - <a href="Products/CreateNew">Create A Product</a></p>
{{/if}}