{{#if test}}

<h2 class="title">{{test.name}} - <a href="/Profile/{{test.profile._id}}">{{test.profile.name}}</a></h2>

<table class="table">
    <thead>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{test.threshold.min}}</td>
            <td>{{test.threshold.max}}</td>
        </tr>
    </tbody>
</table>

{{/if}}
